body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'Bebas Neue', sans-serif; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px; 
    padding: 0 7%; 
    background: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(10px); 
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 60px; 
    margin-right: 10px;
}

.school-name {
    font-family: 'Bebas Neue';
    font-size: 24px; 
    color: #001021;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links li {
    display: flex;
    align-items: center;
}

.nav-links li a {
    text-decoration: none;
    color: #001021;
    font-weight: normal; 
    font-size: 24px; 
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #11B5E4; 
}

@media (max-width: 1024px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px; 
        left: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.9); 
        padding: 10px 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links.mobile-nav-active {
        display: flex; 
    }

    .mobile-menu-icon {
        display: block; 
        font-size: 30px;
        color: #001021;
        cursor: pointer;
    }

    .logo {
        height: 50px;
    }

    .school-name {
        font-size: 20px; 
    }
}


.mobile-menu-icon {
    display: none;
}

@media (max-width: 768px) {
    .mobile-menu-icon {
        display: block; 
    }

    .hero-text {
        width: 300px;
        left: 5%;
        margin-top: 30px;
    }

    .gradient-overlay {
        top: 80px;
        height: calc(100% - 50px);
    }
    
    #header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        padding: 0 3%;
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(10px);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }


}
